@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
.proyectsection {
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 2%;
}

.proyectgrid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.proyectgrid:after {
	clear: both;
}

.proyectgrid:after, .proyectbox:before {
	content: '';
	display: table;
}

.proyectgrid li {
	width: 228px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

.proyectbox {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.proyectbox:hover {
	transform: scale(1.05); 
}

.proyectimg-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), 
	url();
}

.proyectimg-2 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
	url();
}

.proyectimg-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), 
	url();
}

.proyectimg-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), 
	url();
}

.proyectinfo {
	position: absolute;
	width: inherit;
	height: inherit;
}

.proyectinfo h3 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height: 1.5;
}

.proyectinfo p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height: 2;
}